<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HH Profile Page</title>
  </head>
  <body>

    <h3>Post:</h3>
    <form>
      <textarea class='posting' rows='5' cols='60'>
      </textarea>
      <button>Submit<button>
    </form>

    <h3>{{ user[first_name]}}{{ user[last_name]}}{{ post[created_at]}}</h3>
    <p>Post of the post of the post of the post of the post of the post of the post.</p>

    <h4>{{ user[first_name]}}{{ user[last_name]}}{{ comment[created_at]}}</h4>
    <p>Comment of a comment of a comment of a comment of a comment of a comment of a comment</p>

    <h3>Comment:</h3>
    <form>
      <textarea class='commenting' rows='5' cols='60'>
      </textarea>
      <button>Submit<button>
    </form>




  </body>
</html>
