<!DOCTYPE html>
<html>
<head>
  <title>Temp</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <style type="text/css">
    .container{font-family: 'Lora',serif;}
    .map{height:500px; margin-bottom:20px;border-radius:5px;}
  </style>
</head>

<body>
  <nav class="navbar navbar-default" style='color:black;background: rgba(255, 255, 255, 0.7)'>
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="">
              <img style='width:30px' src='https://sdl-stickershop.line.naver.jp/stickershop/v1/product/1220480/iphone/main@2x.png'>
            </a>
          </li>
          <li><a>Alvin's Demo</a></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Hello World</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1>API demo <small></small></h1><br>
    <div class='col-xs-6 col-xs-offset-3  text-center'>
      <form action='/testing/getresult' method='POST'>
        <div class="input-group">
          <input name="zip" type="text" class="form-control" placeholder="Enter a ZIP" aria-describedby="basic-addon">
          <span class="input-group-btn"><button class="btn btn-info" type="submit">Find!</button></span>
        </div>
      </form>
      <br><br>
    </div>
    <div class="col-xs-10 col-xs-offset-1" style='padding:0px'>
      <h2>Map</h2>
      <div id="map" class="map"></div>
      <div id='result' class='result'>
        {{hhlocations}}
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script>
      $.get( "/testing/gethhlocations", function( data ) {
        $( ".result" ).html( data );
      });
      ///////////////////// GOOGLE MAPS PORTION
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.335, lng: -121.890},
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        // var infowindow = new google.maps.InfoWindow();
        // var i;
        // for (i = 0; i < 20; i++) {
        //   var latitude = data['businesses'][i]['coordinates']['latitude'];
        //   var longitude = data['businesses'][i]['coordinates']['longitude'];
        //   var name = data['businesses'][i]['name'];
        //
        //   var marker = new google.maps.Marker({
        //     position: new google.maps.LatLng(latitude, longitude),
        //     map: map
        //   });
        //   attachInfo(marker,name);
        // }
      }
      function attachInfo(marker,name){
        var infowindow = new google.maps.InfoWindow({content:name});
        marker.addListener('click',function(){infowindow.open(marker.get('map'),marker);});
      }
      </script>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy46kNvVglXfDw4ElaxAtCvmXhclI1U_o&callback=initMap" async defer></script>

</body>
</html>
