<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HH Profile Page</title>
  </head>
  <body>

    <form role="form" action="/message" method="POST">
					<div class="form-group">
						<textarea class="form-control" rows="3" name="message"></textarea>
					</div>
					<button type='submit' class="btn btn-success" >Post A Message</button>
				</form><br><br>
				{% if postList %}
				{% for po in postList %}

				{% if (session['user_id'] != po['user_id']) %}
				<div class="panel-title">
				    <h3>
				        {{po['user_name']}} posted on{{po['created_at']}}
				    </h3>
					<h4> {{po['content']}}</h4>
				</div>
				{% endif %}

				{% if (session['user_id'] == po['user_id']) %}
				<form role="form" action="/message/{{message['id']}}/delete" method="POST">
					<div class="panel-title">
					  <h3>
				        {{po['user_name']}} posted on {{po['created_at']}}
				        <button type="submit" class="btn btn-primary" title="Delete">
						   <span class="glyphicon glyphicon-remove-circle"></span>
					   </button>
						</h3>

						<h4>{{po['content']}}</h4>
					</div>
				</form>
				{% endif %}

				{% if commentList %}
				{% for comment in commentList %}
				{% if (message['id'] == comment['post_id']) %}

				{% if (session['user_id'] != comment['user_id']) %}
				<div class="panel-title">
				    <h4>
				      <!--img src="{{ url_for('static', filename='img/antara.JPG') }}" class="img-thumbnail"
				         alt="Cinque Terre" width="50" height="50"-->
				          {{comment['user_name']}} commented on {{comment['created_at']}}
				    </h4>
					<h5> {{comment['content']}}</h5>
				</div>
				{% endif %}
				{% if (session['user_id'] == comment['user_id']) %}
					<form role="form" action="/comment/{{comment['cid']}}/delete" method="POST">
						<div class="panel-title">
							<h4>

								{{comment['user_name']}} commented on {{comment['created_at']}}
								<button type="submit" class="btn btn-primary" title="Delete">
									<span class="glyphicon glyphicon-remove-circle"></span>
								</button>
							</h4>
							<h5> {{comment['content']}}</h5>
						</div>
					</form>
				{% endif %}

				{% endif %}
				{% endfor %}
				{% endif %}

				<form role="form" action='/comment' method="POST">
					<div class="form-group">
						<textarea class="form-control" rows="2" name="comment"></textarea>
						<input type="hidden" value="{{message['id']}}" name="message_id">
					</div>
					<button type='submit' class="btn btn-primary" >Post A Comment</button>

				</form><br><br>




  </body>
</html>
